{% extends 'base.html' %}

{% load static %}

{% block specific_css %}
<link rel="stylesheet" href="{% static 'authentication/css/profiles.css' %}">
{% endblock %}

{% block content %}
<section class="main-content">
  <div class="container">
    <h1 class="text-center">Our <b>Developers</b></h1>
    <p class="text-center text-muted">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rem tenetur harum nobis
      esse ex alias.</p>
    <br><br>
    <div class="row">
      {% for profile in profiles %}
      <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
        <div class="profile-card bg-white shadow mb-4 text-center rounded-lg p-4 position-relative h-100">
          <a href="{% url 'authentication:user-profile' profile.id %}" style="text-decoration: none; color: black;">
            <div class="profile-card_image">
              <img src="{{ profile.profile_picture.url }}" alt="User" class="mb-4 shadow">
            </div>
            <div class="profile-card_details">
              <h3 class="mb-0">{{ profile.user.first_name }} {{ profile.user.last_name }}</h3>
              <p class="text-muted">{{ profile.short_intro }}</p>
              <p class="text-muted">{{ profile.bio|slice:"160" }}</p>
            </div>
            <div class="profile-card_skills row mx-auto">
              {% if profile.skills.all %}
              {% for skill in profile.skills.all%}
              <div class="col-3 mb-2">
                <span class="badge custom-badge">{{skill}}</span>
              </div>
              {% endfor %}
              {% endif %}
            </div>
            <div class="profile-card_social text-center p-4">
              {% if profile.github is not None %}
              <a href="https://github.com/{{profile.github}}" class="d-inline-block">
                <i class="fab fa-github"></i>
              </a>
              {% endif %}
              {% if profile.linkedin is not None %}
              <a href="https://www.linkedin.com/in/{{profile.linkedin}}" class="d-inline-block">
                <i class="fab fa-linkedin-in"></i>
              </a>
              {% endif %}
              {% if profile.youtube is not None %}
              <a href="https://www.youtube.com/{{profile.youtube}}" class="d-inline-block">
                <i class="fab fa-youtube"></i>
              </a>
              {% endif %}
            </div>
          </a>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
{% endblock %}
