{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  {% load bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}

  <link rel="icon" type="image/png" href="{% static 'images/icon.png' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  {% block specific_css %} {% endblock %} <title>Code Book |{{ page }}</title>
</head>

<nav class="navbar navbar-expand-lg navbar-light ftco_navbar bg-white ftco-navbar-light" id="ftco-navbar">
  <div class="container" id="nav-container">
    <a class="navbar-brand" href="{% url 'authentication:profiles' %}">Code Book</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#ftco-nav" aria-controls="ftco-nav"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="fa fa-bars"></span> Menu
    </button>
    <div class="collapse navbar-collapse d-flex justify-content-end" id="ftco-nav">
      <ul class="navbar-nav">
        <li class="nav-item"><a href="{% url 'core:projects' %}" class="nav-link">Projects</a></li>
        <li class="nav-item"><a href="{% url 'authentication:profiles' %}" class="nav-link">Developers</a></li>
        {% if request.user.is_authenticated%}
        <li>
          <div class="btn-group">
            {% if user.profile %}
            <a href="{% url 'authentication:user-profile' user.profile.id %}">
              <button type="button" class="btn btn-warning">{{user.get_full_name}}</button>
            </a>
            {% endif %}
            <button type="button" class="btn btn-warning dropdown-toggle dropdown-toggle-split"
              data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="sr-only">Toggle Dropdown</span>
            </button>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="{% url 'authentication:edit-profile' %}">Edit Profile</a>
              {% if user.profile %}
              <a class="dropdown-item" href="{% url 'authentication:user-profile' user.profile.id %}">View Profile</a>
              <a class="dropdown-item" href="{% url 'core:add-project' %}">Add a project</a>
              <a class="dropdown-item" href="{% url 'authentication:add-skill' %}">Add a skill</a>
              {% endif %}
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{% url 'authentication:logout' %}">Logout</a>
            </div>
          </div>
        </li>
        {% else %}
        <li class="nav-item"><a href="{% url 'authentication:login' %}" class="nav-link">Login</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>


<body>
  {% if messages %}
  {% for message in messages %}
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-5">
        {% if message.tags == 'error' %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
          {% else %}
          <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
            {% endif %}
            {{message}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
    {% endif %}

    <main>
      {% block content %}

      {% endblock %}
    </main>
</body>
<div class="container">
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <p class="col-md-4 mb-0 text-muted">&copy; 2023 Code Book, Inc</p>

    <ul class="nav col-md-4 justify-content-end">
      <li class="nav-item"><a href="{% url 'authentication:profiles' %}" class="nav-link px-2 text-muted">Home</a></li>
      <li class="nav-item"><a href="{% url 'core:projects' %}" class="nav-link px-2 text-muted">Projects</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Pricing</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">FAQs</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">About</a></li>
    </ul>
  </footer>
</div>

</html>
